<!DOCTYPE html>
<html>
<head>
    <title>Projects blog</title>

</head>
<body>
    <header>
        <h1>A collection of projects gathered in a blog</h1>
    </header>

    <article>
        <h2>Predition model using sickit-learn</h2>
        <p>A machine learning model using gradient boosting to predict the outcome of the 2025 Singapore F1 Grand Prix.</p>
    </article>

     <article>
        <h2>Pacman game</h2>
        <p>A BFS and DFS algorithm developed to find path in a maze similar to pacman.</p>
    </article>
</body>
</html>